<h2>Pagina seleccionada para cualquier ruta no existente!</h2>

<ul>
    <li>
        <a routerLink="/auth/login"> Ir a login</a>
    </li>
    <li>
        <a routerLink="/auth/registro"> Ir a registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">Ir a listado de heores</a>
    </li>

    <!-- <li>
        <a routerLink="/heroes/agregar">Agregar heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/editar">Editar heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Buscar heroes</a>
    </li> -->
</ul>


