<!-- <h2>HOME DE HEORES</h2>
<hr>
<router-outlet></router-outlet> -->

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>

            <span class="spacer"></span>

            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon> 
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon> 
                <span>Listado de heores</span>
            </a>

            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon> 
                <span>Agregar heroe</span>
            </a>
            <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon> 
                <span>Buscar heroe</span>
            </a>
            <a routerLink="./heroe" mat-list-item (click)="sidenav.toggle()">
                <mat-icon>label</mat-icon> 
                <span>Heroe</span>
            </a>
        </mat-nav-list>


    </mat-sidenav>

    <mat-toolbar class="toolBarContent">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon> 
        </button>

        <span class="spacer"></span>    <!--Cree este estilo de forma global en "styles.css"-->

        <span> {{auth.usuario}} </span>
        
        <button mat-button (click)="logout()">
            Logout
        </button>
    </mat-toolbar>


    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>