<div class="contentPrinc">
    <div class="header">

        <h1>Busca a tus heroes</h1>
        <mat-divider></mat-divider>

    </div>
    <div class="container">

        <h4>Buscar</h4>

        <mat-form-field>
            <mat-label>Busqueda</mat-label>
            <input type="text"
                   placeholder="Buscando ando"
                   aria-label="Number"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (keydown)="buscando()">      <!--Investigar Eventos de angular-->    
            <mat-autocomplete autoActiveFirstOption 
                              #auto="matAutocomplete"
                              (optionSelected)="opcionSeleccionada($event)">
              <mat-option *ngFor="let heroeVal of heroes" [value]="heroeVal">
                {{heroeVal.superhero}}
              </mat-option>

              <mat-option value="" *ngIf="heroes.length == 0 && termino.length>0">
                No se encontro nada con el termino - {{termino}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>

    <div *ngIf="heroeSeleccionado">
    

        <app-heroe-tarjeta [heroe]="heroeSeleccionado"></app-heroe-tarjeta>

        
    </div>
</div>